.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.title {
    font-weight: 600;
    padding-bottom: 1rem;
}

.text {
    text-align: center;
    padding-top: 2rem;
}